header{
	padding: 0;
	color: white;
	background: #67b11c;
  background: linear-gradient(#1e4584, #002156);
  border: 2px solid #000000;
  overflow: auto;
}

h2{
	padding: .5em;
	font-size: 200%
}

nav{
	float: left;
	max-width: 160px;
	position: fixed;
	top: 200 px;
	margin: 0;
	padding: 1em;
	text-align: left;
}

nav ul a {
	font-size: 125%;
	color: blue;
  text-decoration: none;
}

article{
	margin-left: 170px
	border-left: 6px solid red;
	text-align: center;
	padding: 1em ;
	overflow: hidden;
}

img{
	border: 2px solid black;
	padding: 2em;
}
